/* -- HEADER -- */
.navbar {
	margin-bottom: 0; 
}

.jumbotron {
	/*background-image: url();*/
	background: #428BCA;
	color: #fff;
	padding: 20px 0;
}

/* -- POST -- */
.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom: 20px; 
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

.post .post-title a {
	color: #333;
}

.post .thumb {
	margin-right: 10px;
	width: 40%;
}

.post .thumb img {
	width: 100%;
}

.post .contenedor-botones {
	width: 100%;
}

/* -- Media Querie -- */
@media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}

/* Footer */

.contenedor-Footer {
	background: #428BCA;
	color: #fff;
}

/*-- (Footer) Botones de redes sociales --*/

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }